<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-6xl font-bold mb-4">500</h1>
        <p class="text-xl">Internal Server Error</p>
        <!-- back button -->
         <a href="{{ url_for('home') }}"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold m-5 py-2 px-4 rounded">Back to Home</button></a>
        </div>
</body>

{% if e %}
<footer class="fixed bottom-0 left-0 w-full text-center p-4">
    <small class="text-sm bottom-0 w-full text-gray-400">{{ e }}</small>
</footer>
{% endif %}

</html>