<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniScore</title>
    <link rel="icon" sizes="32x32" href="/static/images/favicon32.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
    <header class="bg-gray-800 text-white p-4">
        <h1 class="text-2xl font-bold"><i class="text-green-500">Uni</i>Score</h1>
    </header>

    <main class="flex-grow flex items-center justify-center bg-white rounded-lg shadow-md p-6">
        <div class="max-w-3xl mx-auto text-center">
            <h2 class="text-4xl font-bold mb-4">Rank Score Calculator</h2>
            <p class="text-xl text-gray-600 mb-8">Get your derived grade for university entrance, free and online.</p>

            <div class="bg-white rounded-lg shadow-md p-6">
                <div class="flex justify-between mb-4">
                    <p class="flex-1 py-2 px-4 text-green-600 font-semibold border-b-2 border-green-600">Enter your credits here:</p>
                </div>
                <form action="/" method="post">
                    <input type="number" name="achieved" placeholder="Enter amount of Achieved credits" class="w-full p-3 mb-4 border rounded">
                    <input type="number" name="merit" placeholder="Enter amount of Merit credits" class="w-full p-3 mb-4 border rounded">
                    <input type="number" name="excellence" placeholder="Enter amount of Excellence credits" class="w-full p-3 mb-4 border rounded">
                    <button type="submit" class="bg-green-600 text-white py-3 m-auto rounded font-semibold hover:bg-green-700 block" style="width: 20%;">CALCULATE</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="bg-gray-800 text-white py-4 bottom-0 w-full">
        <div class="container mx-auto px-4 text-center">
            <p>&copy; 2024 UniScore. All rights reserved.</p>
            <small>Not a real company pls don't sue 🙏<br><br>Made by Nemith Wijesiri for 11COM NCEA Practice</small>
        </div>
    </footer>
</body>
</html>