<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calucated!</title>
</head>

<style>
    .done {
        font-size: 24px;
        color: green;
        font-weight: bold;
        padding: 10px;
    }

    button {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        background-color: green;
        color: white;
        border: none;
        cursor: pointer;
    
    }
</style>

<body>
    <h1>Your results has been calculated!</h1>

    <h2>First Number: {{ num1 }}</h2>
    <h2>Second Number: {{ num2 }}</h2>

    {% if oper == "+" %}
    <h2>Operation: Addition</h2>
    {% set result  =  num1 + num2 %}

    {% elif oper == "-" %}
    <h2>Operation: Subtraction</h2>
    {% set result = num1 - num2 %}

    {% elif oper == "*" %}
    <h2>Operation: Multiplication</h2>
    {% set result  =  num1 * num2 %}

    {% elif oper == "/" %}
    <h2>Operation: Division</h2>
    {% set result = num1 / num2 %}
    {% endif %} 

    {% if result|int == result %}
    <p class="done">{{ num1 }} {{ oper }} {{ num2 }} = {{ result|int }}</p>
    {% else %}
    <p class="done">{{ num1 }} {{ oper }} {{ num2 }} = {{ result }}</p>
    {% endif %}

    <button onclick="window.location.href='/calculate'">Go Back</button>
    <br><br>

</body>
</html>