<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Builder</title>
</head>
<body>
    <p>Fill in the information to generate a custom profile page</p>
    <form action="/profile-result">
        <div>
        <label for="fname">First Name:</label>
        <input id="fname" type="text" name="fname" placeholder="Potete">
        </div>

        <div>
            <label for="lname">Last Name:</label>
            <input id="lname" type="text" name="lname" placeholder="O'">
        </div>

        <div>
            <label for="name">Age:</label>
            <input id="age" type="number" name="age" placeholder="69">
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>  

    </form>    
</body>
</html>