{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <main class="flex-grow flex items-center justify-center p-4">
        <div class="w-full max-w-3xl bg-gray-800 p-8 rounded-lg shadow-2xl">
            <h2 class="text-2xl font-bold mb-4">Contact Us</h2>
            
            <p class="mb-4">If you have any questions or concerns regarding the Pepeha Generator, please contact us using the contact form below. We will get back to you as soon as possible.</p>

            <form id="contactForm" class="form-content" action="https://formsubmit.co/nemwijesiri@student.pakuranga.school.nz" method="POST"></form>
                <label for="name" class="text-sm">Full Name</label>
                <input type="text" name="name" class="w-full bg-gray-700 p-3 rounded mb-3 text-sm custom-shadow-more" required>
                
                <label for="email" class="text-sm">Email</label>
                <input type="email" name="email" class="w-full bg-gray-700 p-3 rounded mb-3 text-sm custom-shadow-more" required>
                
                <label for="message" class="text-sm">Message</label>
                <textarea name="message" class="w-full bg-gray-700 p-3 rounded mb-3 text-sm custom-shadow-more" required></textarea>
                
                <button type="submit" id="contactButton" class="w-full bg-gray-700 text-gray-300 p-3 rounded mt-4 text-sm custom-shadow-more">SEND MESSAGE</button>
        </div>
    </main>
{% endblock %}