<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>numbers</h1>
    {% for number in numbers %}
        <p>{{ number }}</p>
    {% endfor %}

    <h2>Square of Numbers</h2>
    {% for number in numbers %}
        <p>{{ number }} squared is {{ number ** 2 }}</p>
    {% endfor %}

    <h2>Cube Numbers</h2>
    {% for number in numbers %}
        <p>{{ number }} cubed is {{ number ** 3 }}</p>
    {% endfor %}

    <h2>Hypercube of Numbers</h2>
    {% for number in numbers %}
        <p>{{ number }} hypercubed is {{ number ** 4 }}</p>
    {% endfor %}
</body>
</html>