<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
   <p>Hey there! My name is {{ user_data.name }} and I am {{ user_data.age }} years old. My hobbies are {{ user_data.hobbies }}!</p>  
   <br>
   <br>

   <h1>My Socials</h1>
   <p>See where you can contact me!</p>
    <ul>
        {% for socials in socials %}
            <li>I am on {{ socials }}.</li>
        {% endfor %}
    </ul>

</body>
</html>

<p></p>